<div class="item-dialog-container">
  <div class="unnamed-character-style-6 title-header">{{ data ? 'Edit Item' : 'Create New' }}</div>
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <header>

      <div class="input-title-wrapper">
        <div class="input-title">Name</div>
        <input formControlName="title" placeholder="Type tag name...">
      </div>

      <div class="input-title-wrapper-color">
        <div class="input-title">Color</div>
        <input class="color-input" formControlName="color" type="color">
      </div>

    </header>

    <main>
      <div class="input-title-wrapper">
        <div class="input-title">Tag Description</div>
        <textarea formControlName="description" placeholder="Type tag description"></textarea>
      </div>


      <div class="input-title-wrapper">
        <div class="input-title">Creator</div>
        <input formControlName="createdBy" placeholder="Enter creator's name">
      </div>
    </main>


    <footer>
      <button class="cancel" type="button" (click)="onCancel()">Cancel</button>
      <button class="save" type="submit" [disabled]="itemForm.invalid">{{ data ? 'Update' : 'Create' }}</button>
    </footer>
  </form>

</div>
