/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Helvetica Neue", sans-serif !important; letter-spacing: 0  !important;}
button {
  cursor: pointer !important;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

/* Customize the dialog container */
.mat-mdc-dialog-surface {
  padding: 20px;
  background-color: #FAFAFA !important;
  border-radius: 0 !important;
}

.mat-mdc-dialog-surface {
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

input {
  background: #fff;
  box-shadow: 0px 3px 6px #00000029;
  height: 40px !important;
  width: 100%;
  padding: 4px 8px !important;
  border-radius: 10px !important;
  border: none !important;
}

textarea {
  background: #fff;
  box-shadow: 0px 3px 6px #00000029;
  height: 120px !important;
  width: 100%;
  padding: 12px !important;
  border-radius: 10px !important;
  border: none !important;
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -100px
}

.list-wrapper {
  width: 100%;
  height: 70%;
  position: relative;
}

button {
  border: 1px solid var(--unnamed-color-0e4f6e);
  background: white;
  border-radius: 12px;
  padding: 4px 8px;
}

:root {

  /* Colors: */
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-007af9: #007AF9;
  --unnamed-color-797979: #797979;
  --unnamed-color-000000: #000000;
  --unnamed-color-0e4f6e: #0E4F6E;

  /* Font/text values */
  --unnamed-font-family-helvetica-neue: Helvetica Neue;
  --unnamed-font-style-normal: normal;
  --unnamed-font-style-italic: italic;
  --unnamed-font-weight-100: 100px;
  --unnamed-font-weight-300: 300px;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-20: 20px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-18: 18px;
  --unnamed-line-spacing-22: 22px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-25: 25px;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-300);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-25);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-007af9);
}
.unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-300);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-797979);
}
.unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-18);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-italic);
  font-weight: var(--unnamed-font-weight-100);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-6 {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-25);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0e4f6e);
}
